
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: lightgrey;
    }
.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 16px;
    width: 300px;
    border-radius: 8px;
    background-color: lightgrey;
    box-shadow: 0 20px 20px 0 rgba(252,169,169, 0.7);
    text-align: center;
    font-family: fantasy;
}
.container{
    position: relative;
}
.main h1{
    font-size: 1.5rem;
    margin: 12px 0 12px 0;
}
.main img{
    width: 80%;
    
}

.buttons{
    display: inline-block;
    margin:  0;
    width: 100%;
    padding: 0;
    text-align: center;
}
    
.buttons button{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 16px;
    border-radius: 90px;
    background-color: lightgrey;
    text-align: center;
    margin: 10px 9px;
    box-shadow: 0 20px 20px 0 rgba(252,169,169, 0.6);
    border: none;
}
.buttons button:active{
    background-color: lightgrey;
    box-shadow: inset 0 20px 20px 0 rgba(252,169,169, 0.6);

}
.volume{
    width: 70%;
    -webkit-appearance: none;
    appearance: none;
    background:smokewhite;
    box-shadow: 0 20px 20px 0 rgba(252,169,169, 0.4);
    border-radius: 25px;
    margin-bottom: 12px;

}
.volume::-webkit-scrollbar-thumb{
    appearance: none;
    background-color: gray;
    box-shadow: 0 20px 20px 0 rgba(252,169,169, 0.6);
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.volume::-moz-range-thumb{
    width: 50px;
    height: 50px;
}
